/* PARAGRAFO INICIO 1*/

#PARAGRAFO-1 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#IMAGEM-BASIL-CHIBI {
    margin-top: -50px;
    width: 250px;
    margin-left: 1000px;
}