/* fundo background */

body {
    background-image: url(pictures/background.jpg);
}

/* fundo background */


/* Header */

h1 {
    text-align: center;
    justify-content: center;
    font-size: 2.7em;
    font-family: monospace;
}

#paragrafo-header {
    font-size: 2.2em;
    text-align: center;
    justify-content: center;
    justify-self: center;
}

#Basil-emote {
    width: 100px;
    margin-left: 1300px;
}

header {
    background-color: bisque;
    background-size: 100%;
}

/* Header */ 

/* decoração */

#decoração {
    background-color: black;
    font-size: 1.3em;
}

/* first section */

#caso-voce {
    font-size: 50px;
    margin-left: 250px;
}

#playlist-spotify-lover {
    width: 520px;
    margin-left: 250px;
}

#para-playlist {
    margin-left: 790px;
    margin-top: -270px;
    font-size: 2.5em;
}

#para-play-2 {
    font-size: 2.3em;
    margin-left: 785px;
}

#mitsuba {
    width: 93px;
    margin-left: 1391px;
    margin-top: -20px;
}

#quant-mscs {
    margin-top: 100px;
    width: 350px;
    margin-left: 900px;
}

#para-qnt-msc {
    font-size: 2.5em;
    margin-left: 300px;
    margin-top: -60px;
}

#seta-vermelha {
    width: 500px;
    margin-top: -200px;
    margin-left: 450px;
}

#link-playlist {
    font-size: 4em;
    text-decoration: none;
    text-align: center;
    margin-left: 600px;
}

.linha {
    background-color: aqua;
    color: aqua;
    width: 100%;
}

/* first section */

/* second section */

.pocket-love {
    width: 450px;
    margin-left: 250px;
}

#para-pocket-love {
    font-size: 2.4em;
    margin-left: 220px;
}

#para-pocket-love-2 {
    font-size: 2.5em;
    margin-left: 480px;
}

#POCKET-LOVE {
    text-align: center;
    font-size: 3em;
}

/* second section */

/*third section*/

#pinterest-pasta {
    width: 300px;
    margin-left: 300px;
}

#pasta-texto-pin {
    margin-left: 650px;
    font-size: 2.6em;
    margin-top: -300px;
    
}

#pasta-texto-pin-2 {
    margin-left: 680px;
    font-size: 2.6em;
}

#otani-emote {
    width: 200px;
    margin-left: 950px;
    margin-top: -50px;
}

#PASTA-PIN-LINK {
    font-size: 4em;
    text-align: center;
    text-decoration: none;
    color: rgb(45, 133, 255);
}

/*third section*/

/*quarta section*/ 

#canal-youtube-paragr {
    font-size: 2.5em;
    text-align: center;
}

#LINK-EDIT {
    text-align: center;
    font-size: 4em;
    color: deepskyblue;
}

#img-canal-yt {
    width: 550px;
    margin-left: 100px;
}

#p-canal-img-p {
    font-size: 50px;
    margin-left: 700px;
    margin-top: -200px;
}

#linha-contraditoria {
    margin-top: 160px;
}

/*quarta section*/

/*quinta section*/ 

#roupa-xuxuzinha {
    width: 300px;
    margin-left: 300px;
    margin-top: 10px;
}

#paragr-roupa {
    font-size: 50px;
    width: 30%;
    margin-left: 700px;
    margin-top: -35
}

/* quinta section */

/*fim */

#paragraf-final {
    font-size: 3em;
    width: 40%;
    margin-left: 500px;
}