@font-face {
    font-family: 'Howdy Lemon';
    src: url('HowdyLemon.woff2') format('woff2'),
        url('HowdyLemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

