<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <div id="marca">Marca</div>
        <div id="conteudo">
           <div id="conteudo-principal"> <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae cum aperiam facere tempore, aut quod maiores architecto incidunt est optio commodi consequuntur deleniti laborum tempora ducimus nam odit dolorem aliquam!</p>
            </div>
            <div id="conteudo-secundario">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore beatae nisi corporis, deleniti exercitationem a nostrum doloremque mollitia quo accusamus vitae ut labore nesciunt odio dolor alias sit reiciendis? Est!</p></div>
        </div>
        <div id="navegação">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">sobre</a></li>
                <li><a href="">Noticias</a></li>
                <li><a href="">Produtos</a></li>
                <li><a href="">Serviços</a></li>
                <li><a href="">Clientes</a></li>
                <li><a href="">contato</a></li>
            </ul>
        </div>
        <div id="rodapé">rodapé</div>
    </div>
</body>
</html>